doctype html
html
    head
        title "Test"
    body
        span You're currently on route: "#{request_uri}"
        br
        span Your session id is: #{session.id}
        br
        span #{message}